{% if menu %}
  <ul class="menu-items-{{ menu.identifier }}">
    {% for item in menu %}
      <li class="menu-item menu-item-{{ forloop.index }}">
        <a href="{{ item.url }}" title="Go to {{ item.title }}" class="menu-link">{{ item.title }}</a>

        {% if item.children %}
          {% assign menu = item.children %}
          {% include menu.html %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
